.nav-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    .flex-col();
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;

    h1 {
        font-size: 3rem;
        margin-bottom: 10px;
    }

    a {
        .a-def();
        margin: 10px;
    }
}
